# Configurações do Servidor
PORT=3000

# Segurança (JWT)
# Dica: Use uma string longa e aleatória para o seu secret real
JWT_SECRET=sua_chave_secreta_aqui

# Conexão com o Banco de Dados (PostgreSQL)
DB_HOST=localhost
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=evidencia_digital_db
DB_PORT=5432
